@media screen and (max-device-width: 576px) {
   .title {
      font-size: 0.8em;
   }

   .subtitle {
      font-size: 0.8em;
      line-height: 2em;
   }

   .h1__line {
      border-bottom:  0.2em solid black;
   }

   .meme {
      font-size: 0.6em;
   }

   .hidden__content {
      justify-content: center;
   }

   .hidden__content img {
      width: 100%;
   }

   .logos img {
      width: 2.5em;
   }

   .meme:hover label.label-hidden .label-title:before {
      display: none;
   }
}