* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    line-height: 1;
    font-family: 'Press Start 2P';;
    font-weight: 400;
    font-size: 1em;
    color: #010201;
    background-color: #F5F5EB;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}

.title,
.subtitle {
    margin: 2em 0 1em 0;
    text-align: center;
    line-height: 2em;
}

.h1__line {
    margin: 0 auto;
    border-bottom: 0.5em solid black;
    width: 50%;
}

.logos {
display: flex;
align-self: center;
margin: 1em;
transition: 1s;
}

.logos img {
    display: flex;
    align-self: center;
    width: 5em;
}

.logos:hover {
    transform: rotateZ(360deg);
    transition: 1s;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.meme {
  margin: 2em;
  line-height: 1.2em;  
}

.meme label.label-hidden:hover {
  cursor: pointer;
}

.meme .d-none {
    display: none;
}

.meme label.label-hidden .hidden__content {
  transform: scale(0);
  transition: all 2s;
  display: flex;
  width: 50%;
  height: 0;
}

.meme label.label-hidden .hidden__content::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  background: black;
  bottom: -0.1em;
  transition: 2s;
  left: 50%;
}

.meme label.label-hidden .label-title {
  text-align: center;
  transition: all 1s;
  display: block;
  width: 100%;
  height: 2em;
  line-height: 1em;
  position: relative;
  color: black;
}

.meme:hover label.label-hidden .label-title:before {
    content: "";
    background: url(../assets/img/svg/plus.svg) no-repeat 50% 50% / 1em 1em;
    border-top: none;
    border-left: none;
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    right: 30%;
    top: 0.1em;
    transition: 1s;
  }

  .hidden__content img {
    margin: 0 auto;
    width: 50%;
    border-radius: 1em;
  }

.meme label.label-hidden input[type=checkbox]:checked~ .label-title,
 .meme label.label-hidden input[type=radio]:checked ~ .label-title {
  color: black;
}

.meme label.label-hidden input[type=checkbox]:checked ~ .label-title:before,
.meme label.label-hidden input[type=radio]:checked ~ .label-title:before {
  border-color: black;
  transform: rotate(-135deg);
}

.meme label.label-hidden input[type=checkbox]:checked ~ .hidden__content,
.meme label.label-hidden input[type=radio]:checked ~ .hidden__content {
    display: flex;
  transform: scale(1);
  height: auto;
  margin: 15px auto;
}

.meme label.label-hidden input[type=checkbox]:checked ~ .hidden__content::before,
.meme label.label-hidden input[type=radio]:checked ~ .hidden__content::before {
  width: 100%;
  left: 10px;
}